<!-- app/views/questions/answer.html.erb -->





<div class="question">
<br><%= params[:question] %></p>
<p> - You<br>
</div>

<div class="answer">
<br><%= @answer %></p>
<p>- Your coach
</div>
<%= link_to "Ask a new question", ask_path %>